body {
    overflow-x: hidden;
}

.short-notes {
    display: inline;
}

.full-notes {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    z-index: 1;
}

td:hover .full-notes {
    display: block;
}

.cancel-btn {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover,
.cancel-btn:focus {
    background-color: #c2894c;
    color: #fff;
}

.cancel-btn:active {
    background-color: #a8723c;
    color: #fff;
}

.cancelled {
    background-color: #ddd;
    color: #888 !important;
    pointer-events: none;
}

@media (max-width: 768px) {
    .full-notes {
        display: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .short-notes {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td:hover .full-notes {
        display: none;
    }

    td .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    td .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -100px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    td .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

